*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#nav{
    width: 100vw;
    height: 4vw;
    position: fixed;
    top: 1;
    z-index: 1;
}

nav img{
    width: 8vw;
}

.banner{
    padding: 0;
    margin: 0;
}

.banner img{
    height: 900px;
    width: 100vw;
    filter: brightness(0.5);

}

.entrada{
    position: relative;
    top: -10vw;
    padding: 1vw;
    border-radius: 2rem;
    color: white;
    background-color: rgb(79, 90, 90);
}

.texto{
    padding: 1vw;
    border-radius: 2rem;
    color: white;
    background-color: rgb(79, 90, 90);
}

.intersection{
    padding: 0 10% 5% 10%;
    height: fit-content;
}

.intersection article{
    padding: 5% 0;
    text-align: justify;
}

.intersection h2{
    text-align: center;
}

.intersection iframe{
    width: 100%;
}

#registro{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: white;
}

#botones{
    border: 1px solid white;
    border-radius: 5px;
    max-width: 40vw;
    margin: 0 25%;
    text-align: center;
}

#botones a{
    text-decoration: none;
    color: white;
}

.docs{
    padding: 30px;
    background-color: rgb(133, 186, 218);
}

.card{

    align-items: center;
    border-radius: 1.5vw;
    margin: 5vw;
}
.card img{
    width: 20vw;
    
}

.card:hover{
    background-color: rgb(87, 27, 250);
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}